*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Work Sans', sans-serif;
	height: 3000px;
	position: relative;
}

html{
	scroll-behavior: smooth;
}
.container{
	padding-left: 15px;
	padding-right: 15px;
	margin-right:  auto;
	margin-left:   auto;
	
	
	
}

@media(min-width: 768px){
	.container{
		width: 750px;
	}

}
@media(min-width: 992px){
	.container{
		width:970px;
	}	
}
@media(min-width: 1200px){
	.container{
		width:1170px;
	}
}
:root{
	--main-color: #bf404c;
	--b-color: #333333;
	--w-color: #ffffff;
	--d-color: #111111;
	--O-color: #f2f2f2;
	--main-n: 60px;
	--transition: .5s;
}
a{
	text-decoration: none;
}

/* Start  Menu  */
.links{
	position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background-color: rgb(0 0 0 / 70%);
    left: -220px;
    transition: var(--main-transition);
    z-index: 100000;
    padding: 0 30px;
    list-style-type: none;
}

.links li{

	margin-bottom: 20px;


}
.links li a{
	font-size: 25px;
	padding: 10px;
	display: block;
	color: var(--w-color);
	
	transition: var(--main-transition);	
}
.close {
	display: block;
    direction: rtl;
    margin-top: 50px;
}
.links .close i{
	padding: 7px 13px;
   
    color: var(--w-color);
    font-size: 30px;
    border-radius: 10px;
}
.links .close i:hover{

	background-color: var(--main-color);
}
.overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgb(17 17 17 / 70%);
	z-index: 1111;
}
/* End Menu */
/* Start nav bare */
.nav .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	color: var(--w-color);
}
.nav .container .btn{
	font-size: 45px;
	color: var(--b-color);
	position: relative;
}
.nav .container .btn:before{
	position: absolute;
    content: "";
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent var(--b-color) transparent;
    bottom: -8px;
    left: 14px;
    display: none;
    transition: var(--transition);
}
.nav .container .btn:after{
	position: absolute;
    content: "Menu";
    bottom: -37px;
    font-size: 19px;
    left: -6px;
    background-color: var(--b-color);
    color: var(--w-color);
    padding: 4px;
    border-radius: 3px;
    display: none;
    transition: var(--transition);

}
.nav .container .btn:hover:after,
.nav .container .btn:hover:before{
	transition: var(--transition);
	display: block;
}
.nav .container .logo{
	font-size: 35px;
	color: var(--b-color);

}
.nav .container .logo span{

	font-size: 24px;
    font-weight: bolder;
    background-color: var(--y-color);
    padding: 0px 7px;
    border-radius: 2px;
    color: var(--b-color);
    font-family: monospace;

}
/* End Nav bare */
/*Start header */
.header {}
.header .container{

}
.header .container h1{
	font-size: 46px;
    font-weight: 400;
    margin-bottom: 70px;
}
.header .container .flex{
	display: flex;

}
@media(max-width: 730px){
	.header .container .flex{
		flex-direction: column;
		justify-content: center;

	}
}
.header .container .flex .box{
	flex-basis: 320px;
	max-width: 429px;
	background-color: var(--main-color);
	color: var(--w-color);
	padding: 50px 20px 30px 20px;
	position: relative;


}
.header .container .flex .box:not(:first-child){
	margin-left: 20px;
}
@media(max-width: 730px){
	.header .container .flex .box:not(:first-child){
		margin-left: 0;
	}
	.header .container .flex .box{
		margin-bottom: 30px;
		align-self: center;
	}

}
.header .container .flex .box span{
	position: absolute;
    width: 7px;
    height: 33px;
    top: 0;
    left: 25px;
    background-color: var(--w-color);
}

.header .container .flex .box:first-child span{
	background-color: var(--b-color);
}
.header .container .flex .box:last-child{
	background-color: var(--b-color);
}
.header .container .flex .box:last-child span{
	background-color: var(--main-color);
}
.header .container .flex .box h3{
	margin-bottom: 20px;
    font-weight: 500;
    letter-spacing: 4px;
    font-size: 23px;
}
.header .container .flex .box p{
	line-height: 1.2;
    font-size: 29px;
    margin-bottom: 30px;
}
.header .container .flex .box a{
	padding-bottom: 4px;
    border-bottom: 1px solid var(--O-color);
    color: var(--w-color);
    font-size: 18px;
    margin-bottom: 10px;
}
/* End header  */
/*Start The Country*/
.country .img-container{
	height: 500px;
	position: relative;
}
.country .img-container img{
	width: 100%;
	height: 130%;
	position: absolute;
	z-index: -1;
	left: 0;
	top: -75px;

}
/*End The Country*/
/* Start Humble */
.humble{}
.humble .container{
	display: flex;

}
@media(max-width: 993px){
	.humble .container{
		flex-direction: column;
	}
}
.humble .container .box{
	flex-basis: 50%;
	
	padding: 50px 10px 30px 20px;	

}
.humble .container .box:first-child{
	
	color: var(--b-color);
	padding-top: 0;
}
.humble .container .box:first-child a:first-child{
	color: var(--w-color);
    margin: 20px 0 49px 0;
    display: block;
    font-size: 20px;
    font-family: system-ui;

}
.humble .container .box:first-child a:last-child{
    color: var(--main-color);
    display: block;
    margin: 30px 0 10px 0;
    border: 1px solid;
    width: fit-content;
    padding: 15px;
    border-radius: 3px;
}
.humble .container .box:first-child a:last-child:hover{
	background-color: var(--main-color);
	color: var(--w-color);
}
.humble .container .box:first-child h1{
	font-weight: normal;
    font-size: 33px;}
.humble .container .box:first-child p{
	line-height: 1.5;
    font-size: 18px;
}
.humble .container .box:first-child a:last-child{
	color: var(--main-color);
}

.humble  .container .box:last-child {
	background-color: var(--main-color);
	color: var(--w-color);
	position: relative;
}
.humble .container .box:last-child h1{
	font-weight: normal;
    font-size: 27px;
    letter-spacing: 3px;
}
.humble .container .box:last-child p{
	font-size: 41px;
}
.humble .container .box:last-child a{
	color: var(--w-color);
    display: block;
    margin: 30px 0 10px 0;
}

.humble .container .box:last-child span{
	position: absolute;
    width: 7px;
    height: 40px;
    top: 0;
    left: 25px;
    background-color: var(--w-color);
}

/* End Humble */
/* Start Article */
.humble{}
.article .container{
	display: flex;

}
@media(max-width: 767px){
	.article .container{
		flex-direction: column;
	}
}
.article .container .box{
	flex-basis: 50%;
	
		

}
.article .container .box:first-child img{
	width: 100%;
	height: 100%;
}
.article .container .box:first-child{
	position: relative;
}
.article .container .box:first-child:before{
	content: "";
	position:absolute;
	bottom: 0;
	left: 0;
	width: 80px;
	height: 200px;
	background-color: var(--main-color);
}


.article .container .box:last-child{
	padding-left:20px
}

.article .container .box:last-child h1{
	font-weight: normal;
    font-size: 35px;
    margin: 49px 0;
    padding-left: 19px;
    position: relative;
}
.article .container .box:last-child h1:after{
	content: "";
    position: absolute;
    width: 57px;
    height: 8px;
    bottom: -26px;
    left: 0;
    background-color: var(--main-color);
}
.article .container .box:last-child p{
	line-height: 1.5;
    font-size: 18px;
    margin-bottom:20px ;
}
.article .container .box:last-child a{
	color: var(--main-color);
    display: block;
    margin: 30px 0 10px 0;
    border: 1px solid;
    width: fit-content;
    padding: 15px;
    border-radius: 3px;
}
.article .container .box:last-child a:hover{
	background-color: var(--main-color);
	color: var(--w-color);
}


/* End Article */
/* Start hire */
.hire{
	padding: calc(var(--main-n) * 2) 0;
	text-align: center;
	background-color: var(--O-color);
}
.hire .container p{
	font-size: 33px;
	max-width: 900px;
	position: relative;
	margin: auto;
}
.hire .container p::before{
	content: "";
	position: absolute;
	bottom: -28px;
	left: 50%;
	transform: translateX(-50%);
	height: 7px;
	width: 70px;
	background-color: var(--main-color);

}

/* End hire */
/* Start Barn-images */
.barn-images{
	background-color: var(--O-color);
}
.barn-images .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
@media(max-width: 767px){
	.barn-images .container {
		flex-direction: column;
		
	}
}
.barn-images .container .box{
	flex-basis: 48%;
	margin-bottom: 35px;
	background-color: var(--w-color);
}
@media(max-width: 767px){
	.barn-images .container .box:not(:first-child){
		margin-bottom: 94px;	
	}
}
.barn-images .container .box:first-child{
	background-color: var(--main-color); 
    color: var(--w-color);
    padding: 14px;
}
.barn-images .container .box:first-child h1{
	font-weight: normal;
    font-size: 45px;
}
.barn-images .container .box:first-child p{
	line-height: 1.4;
	font-size: 18px;
	margin-bottom: 30px;
}

.barn-images .container .box img{
	width: 100%;
	height: 80%;
	min-height: 400px;
	display: block;
}
@media(max-width: 767px){
	.barn-images .container .box img{
	
	}
}
.barn-images .container .box:not(:first-child) h1 {
	padding-left:10px ;
}
.barn-images .container .box:not(:first-child) h1 a{

	font-weight: normal;
	color: var(--b-color);
	display: block;

}

/* End barn images */

/* Start slider  */
.slider{
	padding: var(--main-n) 0;
	background-color: var(--d-color);
	color: var(--w-color);
}
.slider .container{
	height: calc(100vh - 50px);
	position: relative;
}
.slider .container .sliderarrowleft ,
.slider .container .sliderarrowright{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 5;
	font-size: 25px;
	cursor: pointer;
	color: #fff;
}
.slider .container .sliderarrowleft.disable ,
.slider .container .sliderarrowright.disable{
	opacity:.4;
	cursor: no-drop;

}
.slider .container .sliderarrowleft{
	left: 0;
}
.slider .container .sliderarrowright{
	right: 0;
}
.slider .container .bullets{
	
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 111;
    list-style: none;
    width: 100%;
    text-align: center;

}
@media(max-width: 767px){
	.slider .container .bullets{
		top: 20px;
	}
}
.slider .container .bullets li{
	display: inline-block;
    width: 38px;
    height: 10px;
    margin-left: 5px;
    border:1px solid var(--w-color);
    border-radius: 3px;
    transition: var(--transition);
    
}
.slider .container .bullets li.active{
	background-color: var(--main-color);
}
.slider .container .sidershow{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 1s;
}
.slider .container .sidershow.active{
	opacity: 1;
}

.slider .container .slider-container{
	position: relative;
	height: 100%;
	width: 100%;
}
.slider .container .slider-container span{
	position: absolute;
    top: 0;
    left: 10%;
    width: 65px;
    height: 131px;
    background-color: var(--main-color);
    z-index: 4;
}
.slider .container .slider-container .box{
	width: 250px;
	position: absolute;
	right: 0;
	bottom: 0;
	
	background-color: var(--main-color);
	color: var(--w-color);
	z-index: 3;
}
.slider .container .slider-container .box .subbox{
	position: relative;
	padding: 25px 10px 10px 10px;
}
.slider .container .slider-container .box .subbox span{
	position: absolute;
	top: 0;
	left: 10px;
	height: 20px;
	width: 4px;
	background-color: var(--w-color);

}
.slider .container .slider-container .box .subbox h3{

    font-weight: normal; 
    margin: 10px;
}
.slider .container .slider-container .box .subbox p{

   line-height: 1.5;
   font-size: 18px;
   margin: 15px 0;
}
.slider .container .slider-container .box .subbox a{
	display: block;
    width: fit-content;
    color: var(--w-color);
    padding: 10px;
    border: 1px solid;
    border-radius: 4px;
}
.slider .container .slider-container .box .subbox a:hover{
	color: var(--main-color);
	background-color: var(--w-color);
}
.slider .container .slider-container:before{
	content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    bottom: 0;
    left: 0;
    background-color: var(--b-color);
    z-index: 1;
}
.slider .container .slider-container .content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 80%;
	height: 70%;
	
	z-index: 3;

}

.slider .container .slider-container .content .img{
	width: 100%;
	height: 100%;
	max-width: 600px;
	position: relative;
}


.slider .container .slider-container .content .img img{
 	width: 100%;
 	height: 100%;
}

/* End slider */

/* About Me  */
.about-me{
	padding: var(--main-n) 0;

}
.about-me .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
@media(max-width: 767px){
	.about-me .container {
		flex-direction: column;
	}
}

.about-me .container .box{
	flex: 1 0 31%;

}
.about-me .container .box:not(:first-child){
	margin-left: 2%;
}
@media(max-width: 767px){
.about-me .container .box:not(:first-child){
	margin-left: 0;
}
}
.about-me .container .box:first-child{
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
@media(max-width: 767px){

	.about-me .container .box:first-last{
		margin-bottom: 20px;
	}
}
.about-me .container .box:first-child img{
	height: 50%;

}
.about-me .container .box:first-child p{
	padding: 30px 10px;
	font-size: 20px;
	line-height: 1.3;
	letter-spacing: 1px;
}
.about-me .container .box:nth-child(2) img{
	height: 650px;
	width: 100%;
	overflow: hidden;

}
@media(max-width: 767px){
	.about-me .container .box:nth-child(2) img{
		width: 100%;
		height: 400px ;
	}
}
@media(max-width: 767px){
	.about-me .container .box:nth-child(2) {
		margin-top: 8px;
	}
}
@media(max-width: 994px){
.about-me .container .box:last-child {
	
	margin-left: 0;

}}
.about-me .container .box:last-child .subbox{
	position: relative;
	padding: 50px 15px;
	background-color: var(--main-color);
	color: var(--w-color);
}
.about-me .container .box:last-child  span{
	position: absolute;
    top: 0;
    left: 20px;
    width: 14px;
    height: 53px;
    background-color: var(--w-color);

}
@media(max-width: 767px){
.about-me .container .box:last-child  h3{
	margin-left: 0;
	margin-bottom: 40px;
}	
}
.about-me .container .box:last-child  h3{
	    letter-spacing: 2px;
	    margin: 30px 0;
}
.about-me .container .box:last-child  p{
	font-size: 30px;
    line-height: 1.4;
    margin: 10px 0 20px 0;
}
.about-me .container .box:last-child  a{
    display: block;
    width: fit-content;
    border: 1px solid var(--w-color);
    padding: 12px;
    border-radius: 4px;
    color: var(--w-color);
}
.about-me .container .box:last-child  a:hover{
	color: var(--main-color);
	background-color: var(--w-color);
}

/* About me */

/*Start footer*/
footer {
	background-color: var(--d-color);
	padding: var(--main-n) 0;
	color: var(--w-color);
	font-size: 20px;
}
footer .container{
	display: flex;
	justify-content:space-around;
}
@media(max-width: 767px){
	footer .container {
		flex-direction: column;
		justify-content: center;
	}
}
footer .container:first-child{
	margin-bottom: 40px;
}
footer .container:first-child .box:first-child{
	flex-basis: 70%;
}
footer .container:first-child .box:first-child img{
	
}
footer .container:first-child .box:nth-child(2){
	text-align: center;
	padding: 10px;
}
footer .container:first-child .box:nth-child(2) h4{

	font-size: 22px;
	margin: 30px 0;
}
@media(max-width: 767px){
	footer .container .box{
		max-width: 400px;
		align-self:center;
		margin-bottom: 30px;
	}
	footer .container .box:not(:nth-child(2)){
		margin-bottom: 0;
	}
}


/* End Footer */